[submodule "external/umac"]
	url = https://github.com/evansm7/umac
	path = external/umac
[submodule "external/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = external/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/evansm7/no-OS-FatFS-SD-SPI-RPi-Pico.git
